
body{
  background-color: #EAF6F6;
}

h1{
  color: #5800FF
}

h3{
  color: #0096FF
}



hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img{
  border-radius: 15px;

}

img:hover{
  background-color: gold;
}



.hobbies td, .hobbies tr{
  border: none;
  text-align: center;
  padding: 20px;

}
